// color
// $colorDark:#3F5D45;
// $colorLight:#EAF0ED;
$white:white;
// $mail_button_color:#FFE180;
// $mail_button_hover:gold;
// text_size
$text_XL:40px;
$text_L:24px;
$text_M:20px;
$text_S:16px;
$text_XS:14px;
// $text_S_mobile:18px;
// font_family
$text:SF Pro Text;
$textC:Microsoft JhengHei;
// $text_footer_h2:PMingLiU;
